<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>文件列表</title>
</head>
<body>
<a href="files" style="margin: 30px">首页</a>
<a href="files?dir={{.LastPath}}" style="margin: 30px">../上一层</a><br>
<table style="border-spacing: 30px 10px">
    <thead>
    <tr>
        <th>名称</th>
        <th>大小</th>
        <th>修改日期</th>
    </tr>
    </thead>
    <tbody>
    {{range .Files}}
        {{if .IsFile}}
            <tr>
                <td>
                    <a href="files/download?file={{.Path}}">{{.Name}}</a>
                </td>
                <td>{{.MB}}MB</td>
                <td>{{.ModTime}}</td>
            </tr>
        {{else}}
            <tr>
                <td>
                    <a href="files?dir={{.Path}}">{{.Name}}</a>
                </td>
                <td></td>
                <td>{{.ModTime}}</td>
            </tr>
        {{ end }}
    {{ end }}
    </tbody>
</table>

</body>
</html>